---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import { links, pageMeta } from "../../../data/siteContent";
import { latestLastUpdated, tagFacets, writingEntries } from "../../../data/writingIndex";

const frontmatter = {
  ...pageMeta.writingTags,
  lastUpdated: latestLastUpdated(writingEntries) ?? pageMeta.writingTags.lastUpdated,
};
---

<ArticleLayout frontmatter={frontmatter}>
  <p>
    <a href={links.writing.href}>{links.writing.label}</a>
  </p>

  <ul>
    {
      tagFacets.map((tag) => (
        <li>
          <a href={tag.href}>{tag.label}</a>
          {" "}
          <span class="text-muted">{tag.count}</span>
        </li>
      ))
    }
  </ul>
</ArticleLayout>
