---
import RichText from "../components/RichText.astro";
import { homepageAffiliationParagraph } from "../data/experienceTimeline";
import ArticleLayout from "../layouts/ArticleLayout.astro";
import {
  homepageHighlights,
  pageMeta,
  personal,
  profile,
} from "../data/siteContent";

const frontmatter = pageMeta.home;
---

<ArticleLayout frontmatter={frontmatter}>
  <figure class="profile-photo">
    <img src={profile.photo.src} alt={profile.photo.alt} />
  </figure>

  <h2>About Me</h2>
  <p class="motto">{profile.motto}</p>
  {profile.about.map((paragraph) => <p><RichText parts={paragraph} /></p>)}

  <p class="affiliation-sentence"><RichText parts={homepageAffiliationParagraph} /></p>

  <h2>Selected Highlights</h2>
  <ul>
    {homepageHighlights.map((highlight) => <li><RichText parts={highlight} /></li>)}
  </ul>

  <h2>Beyond Work</h2>
  {personal.paragraphs.map((paragraph) => <p><RichText parts={paragraph} /></p>)}
</ArticleLayout>
