---
import RichText from "../components/RichText.astro";
import ArticleLayout from "../layouts/ArticleLayout.astro";
import { pageMeta, projects } from "../data/siteContent";

const frontmatter = pageMeta.projects;
---

<ArticleLayout frontmatter={frontmatter}>
  {
    projects.map((project) => (
      <>
        <h2 id={project.id}>{project.title}</h2>
        {project.paragraphs.map((paragraph) => <p><RichText parts={paragraph} /></p>)}
        {
          project.links && (
            <ul>
              {project.links.map((link) => <li><a href={link.href}>{link.label}</a></li>)}
            </ul>
          )
        }
      </>
    ))
  }
</ArticleLayout>
